<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>forAction.test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test2</servlet-name>
    <servlet-class>forAction.test2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test3</servlet-name>
    <servlet-class>forAction.test3</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>forAction.register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test4</servlet-name>
    <servlet-class>forAction.test4</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>forAction.login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getBook</servlet-name>
    <servlet-class>forAction.getBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>upLoadFile</servlet-name>
    <servlet-class>upLoadFile</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>characterTest</servlet-name>
    <servlet-class>forAction.characterTest</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>photoRegister</servlet-name>
    <servlet-class>forAction.photoRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getUserImage</servlet-name>
    <servlet-class>forAction.getUserImage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>downLoadFile</servlet-name>
    <servlet-class>forAction.downLoadFile</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/servlet/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test2</servlet-name>
    <url-pattern>/servlet/test2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test3</servlet-name>
    <url-pattern>/servlet/test3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/servlet/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test4</servlet-name>
    <url-pattern>/servlet/test4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getBook</servlet-name>
    <url-pattern>/servlet/getBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upLoadFile</servlet-name>
    <url-pattern>/servlet/upLoadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>characterTest</servlet-name>
    <url-pattern>/servlet/characterTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>photoRegister</servlet-name>
    <url-pattern>/servlet/photoRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getUserImage</servlet-name>
    <url-pattern>/servlet/getUserImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>downLoadFile</servlet-name>
    <url-pattern>/servlet/downLoadFile</url-pattern>
  </servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
